/* ページ全体 */
body{
    background-color: rgb(255, 250, 245);
    padding-top: 100px;
    margin:0px;

    overflow-x: hidden;
}

/* ヘッダー全体 */
.header{
    display: flex;
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
    background-color:  rgb(195, 175, 145);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    box-sizing: border-box;
}

/* ロゴ */
.logo{
    font-size: 24px;
    font-weight: bold;
}

/* ナビ */
.nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.nav a{
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.nav a:hover{
    color: rgb(200, 200, 200);
}

/* ブログ大枠選択欄 */
.blogType{
    width: 100%;
    display: flex;
    padding: 20px 40px;
    align-items: center;
    justify-content: center;
    background-color:  rgb(195, 175, 145);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);

    left: 0;
    position: fixed;
    box-sizing: border-box;
}

/* ブログ内容選択欄 */
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);;
    justify-content: center;
    gap: 30px;
    padding-top: 100px;
    width: 100%;
    max-width: 870px;
    margin: 0 auto;

    box-sizing: border-box;
}
.card{
    width: 100%;
    max-width: 250px;
    background: rgb(255, 250, 245);
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.05);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0px 12px 15px rgba(0,0,0,0.05)
}
.card img{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
}
.card h3{
    margin: 15px 0 10px;
}
.card p{
    font-size: 14px;
    color: rgb(125, 125, 125);
}
.card .btn{
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: rgb(255, 250, 245);
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* 画面サイズによってレイアウトの変化 */
@media (max-width: 768px){
    body{
        padding-top: 140px;
    }
    .blogType{
        padding: 20px;
        text-align: center;
    }

    /* ヘッダー */
    .header{
        flex-direction: column;
        gap: 10px;
    }

    /* ナビ */
    .nav ul{
        gap: 15px;
    }
}
@media (max-width: 900px){
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 600px){
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}